.slider {

    height: 600px;
    width: 600px;
    background: url(images/tissedreng.jpg);
    margin: 100px auto;
    animation: slide 15s infinite;
    background-repeat: no-repeat;
    bottom: 10vw;
    background-size: cover;
    background-position: ;
}

@keyframes slide {
    25% {
        background: url(images/tissedreng.jpg);
        background-repeat: no-repeat;
    }



    50% {
        background: url(images/far.jpg);
        background-repeat: no-repeat;
    }


    75% {
        background: url(images/skubbe.jpg);
        background-repeat: no-repeat;
    }



    100% {
        background: url(images/oldemor01.jpg);
        background-repeat: no-repeat;
    }
}

#forside .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding-top: 7vw;
}
