@font-face {
    font-family: "Melior";
    src:
        url("/fonts/Melior/fonts/Melior.woff") format("woff"),
        url("/fonts/Melior/fonts/Melior.woff2") format("woff2");
}

@font-face {
    font-family: "Bulo-Light";
    src:
        url("/fonts/Bulo-Light/fonts/BuloLight.woff") format("woff"),
        url("/fonts/Bulo-Light/fonts/BuloLight.woff2") format("woff2");

}

body {
    padding: 0;
    margin: 0 5vw;
    background-color: #dddfdf;

}

h1 {
    font-family: Melior;
    text-transform: uppercase;
}

h2 {
    font-family: Melior;
}

h3 {
    font-family: Melior;
}

h4 {
    font-family: Melior;
}


h5 {
    font-family: Melior;
}

p {
    font-family: Melior;
}

.logo {
    width: 23vw;
    height: auto;
    padding: -4vw;
    position: absolute;
    top: 3vw;
    left: 4.8vw;
}



body {
    padding: 0;
    margin: 0 5vw;
    background-color: #dddfdf;

}



main img {
    width: 100%;
}

header {}

svg {
    width: 5vw;
    height: auto;
    padding: 5vw;
}

nav {
    display: flex;
    justify-content: space-around;
    font-family: Melior;
    text-transform: uppercase;
    font-size: 1vw;
}


nav a {
    color: #000000;
}

#navigation {
    top: 5vw;
    position: fixed;
    left: 34vw;
}

a {

    text-decoration: none;
    font-family: sans-serif;
    color: black;
    padding: 0.2rem;
    position: relative;
    top: 4vw;
    left: 5vw;
    font-weight: normal;
    font-size: 2rem;

}

/*#menu {
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;
    font-size: 1.6rem;
    text-align: center;*/


}



#menu {
    background-color: aqua;

}

/* bugermenu*/

.hidden {
    /* display: none;
    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#menu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }


    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

}
