#fotografering .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding-left: 5vw;
    padding-right: 7vw;
    padding-bottom: 5vw;
}


@font-face {
    font-family: "Melior";
    src:
        url("/fonts/Melior/fonts/Melior.woff") format("woff"),
        url("/fonts/Melior/fonts/Melior.woff2") format("woff2");
}

@font-face {
    font-family: "Bulo-Light";
    src:
        url("/fonts/Bulo-Light/fonts/BuloLight.woff") format("woff"),
        url("/fonts/Bulo-Light/fonts/BuloLight.woff2") format("woff2");

}

@font-face {
    font-family: "Bulo-medium";
    src:
        url("/fonts/Bulo-Medium/fonts/BuloMedium.woff") format("woff"),
        url("/fonts/Bulo-medium/fonts/BuloMedium.woff2") format("woff2");

}
