body {
    background-color: #dddfdf;
}

body {
    padding: 0;
    margin: 0 5vw;
    background-color: #dddfdf;

}

main img {
    width: 50%;
}

header {}

nav {
    font-size: 25px;
    width: 10vw;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 1rem;
}

#fotografering .section_wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#footer .section_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: justify;
    padding-left: 10vw;
}

#facebook_logo {
    background-size: 2vw;
}
}

@font-face {
    font-family: "Melior";
    src:
        url("/fonts/Melior/fonts/Melior.woff") format("woff"),
        url("/fonts/Melior/fonts/Melior.woff2") format("woff2");
}

@font-face {
    font-family: "Bulo-Light";
    src:
        url("/fonts/Bulo-Light/fonts/BuloLight.woff") format("woff"),
        url("/fonts/Bulo-Light/fonts/BuloLight.woff2") format("woff2");

}

h1 {
    font-family: "Melior";
    font-size: 2rem;
}

p {
    font-family: "Bulo-Light";
    font: 0.5rem;
}

#logo {
    padding-left: 0;
}


/* bugermenu*/

.hidden {
    /* display: none;
    transform: scale(0);*/
    transform: translateX(-100%);
    opacity: 0;
}

#menuknap {
    display: inline-block;
}

#manu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;

}


@media only screen and (min-width: 600px) {

    #menuknap {
        display: none;
    }


    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu li {
        display: inline-block;
    }

}
