#section_galleri {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.2rem;
    width: 86vw;
}



#section_galleri img {
    max-width: 100%;
    height: auto;
    padding: 0.5rem;


}
