* {
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: #dddfdf;

}

header {
	padding: 20px;
	background: #dddfdf;
	text-align: center;
}

main {
	max-width: 900px;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	padding: 0.5rem;
}

#section_galleri {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

/*

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    display: flex;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
    display: flex;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

.image-container {
    display: flex;
    gap: 20px;
    padding: 1px;


    @media screen and (max-width: 800px) {
        .column {
            flex: 50%;
            max-width: 50%;
        }
    }


    @media screen and (max-width: 600px) {
        .column {
            flex: 100%;
            max-width: 100%;
        }
    }
*/
